# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# pgAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# Airflow — give that command at terminal : `id -u` 
AIRFLOW_UID=

# Airflow — produce that command:
#python -c "import base64, os; print(base64.urlsafe_b64encode(os.urandom(32)).decode())"
AIRFLOW__CORE__FERNET_KEY=

# Airflow metadata DB connection — USER/PASS/DB !!!The values above must be the same
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://USER:PASS@postgres:5432/DB

# The path of the GCP key within the container — dont change.
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/keys/gcp-key.json